@page
@model IndiaModel
@{
    ViewData["Title"] = "India";
}
<link rel="stylesheet" href="~/css/India.css" />
<h1>@ViewData["Title"]</h1>

<p2>
    @ViewData["variable12"]
    
</p2>

<div class="tajmahal">
    <img src="~/css/taj.jpg" width="400px" height="400" />
    <div class="tajm">
        <h1> TAJ MAHAL </h1>
        <p>
            @ViewData["variable13"]
            
        </p>
    </div>

</div>
<div class="amber">
    <img src="~/css/amberplace.jpg" width="400" height="400" />
    <div class="ambe">
        <h1> AMBER PLACE </h1>
        <p>
            @ViewData["variable14"]
            

        </p>
    </div>
</div>
<div class="redfort">
    <img src="~/css/redfort.jpg" width="400" height="400" />
    <div class="redf">
        <h1> RED FORT </h1>
        <p>
            @ViewData["variable15"]
            
        </p>
    </div>

</div>
<div class="agrafort">
    <img src="~/css/agrafort.jpg" width="400" height="400" />
    <div class="agra">
        <h1> AGRA FORT </h1>
        <p>
            @ViewData["variable16"]
            
        </p>
    </div>
</div>
<div class="mumbai">
    <img src="~/css/mumbai.jpg" width="400" height="400" />
    <div class="mumb">
        <h1> GATEWAY of INDIA MUMBAI </h1>
        <p>
            @ViewData["variable17"]
            
        </p>
    </div>
</div>
