@page
@model IndonesiaModel
@{
    ViewData["Title"] = "Indonesia";
}
<link rel="stylesheet" href="~/css/Indonesia.css" />
<h1>@ViewData["Title"]</h1>

<p1>
    @ViewData["variable11"]
</p1>

<div class="sacredmonkey">
    <img src="~/css/monkey.jpg" width="400px" height="400" />
    <div class="sacr">
        <h1> SACRED MONKEY FOREST SANCTUARY </h1>
        <p>
            @ViewData["variable6"]
            
        </p>
    </div>

</div>
<div class="borobudur">
    <img src="~/css/borobudur.jpg" width="400" height="400" />
    <div class="boro">
        <h1> BOROBUDUR TEMPLE </h1>
        <p>
            @ViewData["variable7"]
            
        </p>
    </div>
</div>
<div class="tanahlot">
    <img src="~/css/tanah.jpg" width="400" height="400" />
    <div class="tana">
        <h1> TANAH LOT </h1>
        <p>
            @ViewData["variable8"]
            
        </p>
    </div>

</div>
<div class="prambanan">
    <img src="~/css/prambanan.jpg" width="400" height="400" />
    <div class="pram">
        <h1> PRAMBANAN TEMPLE </h1>
        <p>
            @ViewData["variable9"]
            
        </p>
    </div>
</div>
<div class="uluwutu">
    <img src="~/css/uluwatu.jpg" width="400" height="400" />
    <div class="uluw">
        <h1> ULUWUTU TEMPLE </h1>
        <p>
            @ViewData["variable10"]
            
    </div>
</div>