@page
@model MalaysiaModel
@{
    ViewData["Title"] = "Malaysia";
}
<link rel="stylesheet" href="~/css/Malaysia.css" />
<h1>@ViewData["Title"]</h1>

<p1>
    @ViewData["variable0"]
    </p1>

<div class="petronas">
    <img src="~/css/petron.jpg" width="400px" height="400" />
    <div class="petr">
        <h1> PETRONAS TWIN TOWER </h1>
        <p>
            @ViewData["variable1"]
        </p>
    </div>

</div>
<div class="legoland">
    <img src="~/css/legoo.jpg" width="400" height="400" />
    <div class="lego">
        <h1> LEGO LAND </h1>
        <p>
            @ViewData["variable2"]
            
        </p>
    </div>
</div>
<div class="batucave">
    <img src="~/css/batucave.jpg" width="400" height="400" />
    <div class="batu">
        <h1> BATU CAVE </h1>
        <p>
            @ViewData["variable3"]
            
        </p>
    </div>

</div>
<div class="menara">
    <img src="~/css/menara.jpg" width="400" height="400" />
    <div class="mena">
        <h1> MENARA KUALA LUMPUR </h1>
        <p>
            @ViewData["variable4"]
            
        </p>
    </div>
</div>
<div class="pavilion">
    <img src="~/css/pavilion.jpg" width="400" height="400" />
    <div class="pavi">
        <h1> PAVILION </h1>
        <p>
            @ViewData["variable5"]
            
    </div>
</div>
