@page
@model PhilippinesModel
@{
    ViewData["Title"] = "PHILIPPINES";
}
<link rel="stylesheet" href="~/css/Philippines.css" />
<h1>@ViewData["Title"]</h1>

<p1>
    @ViewData["variable18"]
    </p1>

<div class="palawan"> 
    <img src="~/css/palawan.jpg"width="400px" height="400" /> 
    <div class="pala">
        <h1> PALAWAN </h1>
        <p>
            @ViewData["variable19"]
            
        </p>
    </div>
    
</div>
<div class="siargao">
    <img src="~/css/siargao.jpg" width="400" height="400" />
    <div class="siar">
        <h1> SIARGAO </h1>
        <p>
            @ViewData["variable20"]
            
        </p>
    </div>
</div>
<div class="batanes">
    <img src="~/css/batanes.jpg" width="400" height="400" />
    <div class="bata">
        <h1> BATANES </h1>
        <p>
            @ViewData["variable21"]
            
        </p>
    </div>

</div>
<div class="boracay">
    <img src="~/css/boracay.jpg" width="400" height="400" />
    <div class="bora">
        <h1> BORACAY </h1>
        <p>
            @ViewData["variable22"]
            
        </p>
    </div>
</div>
<div class="bohol">
    <img src="~/css/bohol.jpg" width="400" height="400" />
    <div class="boho">
        <h1> BOHOL </h1>
        <p>
            @ViewData["variable23"]
            
        </p>
    </div>
</div>