@page
@model ThailandModel
@{
    ViewData["Title"] = "Thailand";
}
<link rel="stylesheet" href="~/css/Thailand.css" />
<h1>@ViewData["Title"]</h1>

<p1>
    @ViewData["variable24"]
    </p1>

<div class="grandpalace">
    <img src="~/css/palawan.jpg" width="400px" height="400" />
    <div class="gran">
        <h1> THE GRAND PALACE </h1>
        <p>
            @ViewData["variable25"]
            
        </p>
    </div>

</div>
<div class="emerald">
    <img src="~/css/siargao.jpg" width="400" height="400" />
    <div class="emer">
        <h1> THE TEMPLE OF THE EMERALD BUDDHA </h1>
        <p>
            @ViewData["variable26"]
            
        </p>
    </div>
</div>
<div class="chiangmai">
    <img src="~/css/batanes.jpg" width="400" height="400" />
    <div class="chian">
        <h1> CHIANG MAI </h1>
        <p>
            @ViewData["variable27"]
            
        </p>
    </div>

</div>
<div class="truth">
    <img src="~/css/boracay.jpg" width="400" height="400" />
    <div class="trut">
        <h1> SANCTUARY OF TRUTH MUSEUM </h1>
        <p>
            @ViewData["variable28"]
            
        </p>
    </div>
</div>
<div class="watrong">
    <img src="~/css/bohol.jpg" width="400" height="400" />
    <div class="watr">
        <h1> WAT RONG WHITE TEMPLE </h1>
        <p>
            @ViewData["variable29"]
            
    </div>
</div>
